<a class="clickable" [routerLink]="['/']">
    <h1>Home</h1>
</a>
<form [formGroup]="queryForm" (ngSubmit)="doSearch()"> 
  <div class="row">
      <input class="column"  id="query" placeholder="Search for a book..." type="text" formControlName="name">
      <input class="column" type="submit" value="Search">
  </div>  
</form>
<a id="login" [routerLink]="['/login']">
  <h1>Login</h1>
</a>
<div *ngIf="this.thisUser">
  <img src={{this.thisUser?.photoUrl}}>
  <h3 >Welcome {{this.thisUser?.name}}!</h3>
</div>
<h1 id="logout" class="clickable" (click)="this.logOut()">Log Out</h1>